# Compiled files
*.dvi
*.pdf
*.ps
*.synctex.gz

# Auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.glo
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.out
*.snm
*.toc
*.vrb

# Editor backup files
*~
*.bak
*.backup
*.swp
.DS_Store


note.md